<div id="MMM-MetroClock">
    <div class="time">
        <div class="xlarge bright light">
            <span>{{now.format("h:mm")}}</span>
        </div>
        <div class="medium bright light">
            <span>{{now.format("ss")}}</span>
            <br />
            <span>{{now.format("A")}}</span>
        </div>
    </div>
    <div class="date small bright light">
        <span>{{now.format("dddd, MMMM Do")}}</span>
    </div>
</div>